@model List<database.Tworcy>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Twórcy</h1>
    @foreach(var tworca in Model)
    {
        <div class="tworcy" >
            <img width="300px" height="300px" src="@tworca.ImageLink">
           <p>Imie: @tworca.Name </p>
           <p>Email: @tworca.Email</p>
        </div>
    }
</div>
